body {
	font-family: "Helvetica Neue", sans-serif;
	background-color: #80C284;
	color: white;
}

.mat-input-container {
	width: 80%;
	margin: 0 10%;
	font-size: 2rem;
}

md-nav-list {
	width: 80%;
	margin: 0 10%;
	font-size: 1.5rem;
}

.movie-card {
  width: 50%;
  margin: 0 auto;
}

.mat-card-image.poster {
	width: 300px;
	margin: 0 auto;
	display: block;
}

@media screen and (max-width: 800px) {
	.movie-card {
		width: 80%;
	}
}